<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        .icon-list {
            padding-left: 0;
            list-style: none;
        }
        .icon-list li {
            display: flex;
            align-items: flex-start;
            margin-bottom: .25rem;
        }
        .icon-list li::before {
            display: block;
            flex-shrink: 0;
            width: 1.5em;
            height: 1.5em;
            margin-right: .5rem;
            content: "";
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
        }        
    </style>
    <title>OAuth2 - Client</title>
    <link rel="icon" href="data:" /> 
  </head>
  <body>
    
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            <span class="fs-4">OAuth2 - Client</span> 
          </a>
        </header>
        <main>
          <h1>Um cliente de teste</h1>
            <!--
                <p class="fs-5 col-md-8">Quickly and easily get started with Bootstrap's compiled, production-ready files with this barebones example featuring some basic HTML and helpful links. Download all our examples to get started.</p>
            -->
          <div class="mb-5">
            <a href="/login" class="btn btn-primary btn-lg px-4">Login com Keycloack</a>
            <a href="/logout" class="btn btn-primary btn-lg px-4">Logout</a>
          </div>
      
          <hr class="col-3 col-md-2 mb-2" />
      
          <div class="row g-5">
            <div class="col-md-6">
              <h2>Authorization Code</h2>
              <p>{{.AuthCode}}</p>
              <!--
              <ul class="icon-list">
                <li><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm starter</a></li>
                <li class="text-muted">Bootstrap Parcel starter (coming soon!)</li>
              </ul>
              -->
            <a href="/exchangeToken" class="btn btn-primary btn-lg px-4">Pegar Token de Acesso</a>
            </div>
            <div class="col-md-6">
              <h2>Session State</h2>
              <p>{{.SessionState}}</p>
              <!--
              <ul class="icon-list">
                <li><a href="/docs/5.0/getting-started/introduction/">Bootstrap quick start guide</a></li>
                <li><a href="/docs/5.0/getting-started/webpack/">Bootstrap Webpack guide</a></li>
                <li><a href="/docs/5.0/getting-started/parcel/">Bootstrap Parcel guide</a></li>
                <li><a href="/docs/5.0/getting-started/build-tools/">Contributing to Bootstrap</a></li>
              </ul>
              -->
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-2" />

          <div class="row">
            <div class="col-3 col-md-6 mb-2">
              <h2>Access Token</h2>
              <p style="word-break: break-all;">{{.AccessToken}}</p>      
            </div>
            <div class="col-3 col-md-6 mb-2">
              <h2>Scope</h2>
              <p style="word-break: break-all;">{{.Scope}}</p> 
              <h2>Refresh Token</h2>
              <p style="word-break: break-all;">{{.RefreshToken}}</p>      
            </div>
          </div>

          <hr class="col-3 col-md-2 mb-2" />

          <div class="row">
            <div class="col-3 col-md-12 mb-2">
              <a href="/utilities" class="btn btn-primary btn-lg px-4">Chamar Endpoint: Listar serviços</a>
            </div>
            {{ block "utilities" .Utilities }}
              &nbsp;
            {{ end }}

            {{.ErrorMessage}}
          </div>          
        </main>
        <footer class="pt-5 my-5 text-muted border-top">
          Criado por vinnyaju para teste &middot; &copy; 2021
        </footer>
      </div>
      
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>